@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;500&family=Protest+Riot&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital@1&family=Noto+Sans+JP:wght@100;500&family=Protest+Riot&family=Ubuntu:wght@500&display=swap');


body {
  width: 100%;
  margin: 100%;
  margin-top: 20px;

  position: absolute;
  background-size: cover;

  height: 100%;
  left: 0;


  background-repeat: no-repeat;
  font-family: 'Noto Sans JP', sans-serif;

  margin: 0;
  padding: -100px;




}

.menu {
 
  background-color: bisque;
  
  text-align: center;
  
  width: 100%;
  padding: 20px;
  

}




.imaccueuil {
  min-width: 102%;
  max-height: 800px;


}

.soa {
  z-index: 3;
  position: absolute;
  margin-top:975px;
  color: rgb(6, 6, 6);
  margin-left: 500px;
  margin-top: 20%;
  font-size: 40px;
  font-family: 'Noto Sans JP', sans-serif;
  
  
}


.soda1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
}

.soda2 {
  max-width: 60%;
  max-height: 300px;
  margin-top: 25px;
  margin-left: 45px;
}

.p1 h1{
  max-width: 30%;
  margin-top: 40px;
  color: #000;
  
}
.p1 p{
  margin-left:20px ;
}

a:hover{
  background-color: cornsilk;
  color: black;
  
  
}
a{
  text-decoration: none;
  color: black;
  padding: 20px;
  border-width: 5px;
}
.soda1 h1{
  color: rgb(248, 144, 9);
  margin-left: 40px;
}
.apps{
  
  text-align: center;
  box-shadow: 2px 2px 15px 3px;
  background-color: rgb(245, 245, 66);
  font-size: 25px;
  font-family: 'Andika', sans-serif;
}
.parent {
  display: flex;
}

.pere img{
height: 400px;
width: 410px;
margin-top:180px ;
}
.mere img{
  height:400px ;
width: 510px;
margin-top:180px ;
margin-left: -26px;
}
.enfant img{
  height:400px ;
width: 500px;
margin-top:180px;
margin-left: -26px;

}
.text1 h2{
  margin-top: -540px;
  margin-left: 0px;
  font-family: 'Andika', sans-serif;
  color: darkblue;
  background-color: rgb(234, 200, 181);
  text-align: center;
  font-size: 35px;
}
.arrow img{
  width: 100px;
  margin-top: 300px;
  margin-left: 300px;
  filter: drop-shadow(5px 5px 5px rgb(255, 187, 0));
}
.arrow2 img{
  width: 100px;
  margin-top: -25350px;
  margin-left: 800px;
  filter: drop-shadow(5px 5px 5px rgb(255, 187, 0));
}

.arrow3 img{
  width: 100px;
  margin-top: -200px;
  margin-left: 1300px;
  filter: drop-shadow(5px 5px 5px rgb(255, 187, 0));
}

.container{
  width: 100%;
  height: 75vh;
  display: flex;
  font-size: 15px;
  margin-left: 15px;
}
.avis p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.avis{
  display: block;
  width: 520px;
  
  align-items: center;
  padding: 10px;
  box-shadow: 1px 1px 10px #49e311;
  margin-top: 100px;
  border-radius: 15px;
  background-color: rgb(210, 212, 215);
  

  height: 640px;
  
  

  
}
.avis img{
width: 80px;
border-radius: 10px;
box-shadow: 1px 1px 10px #716ebe;
}

.stars::before {
  content: "\2605\2605\2605\2605\2605";
  font-size: 24px;
  color: gold;
  
}
.ma{
  margin-top: 150px;
  text-align: center;
  filter: drop-shadow(5px 5px 5px rgb(7, 23, 105));
background-color: rgb(137, 142, 133);
margin-bottom: 50px;
width: 100%;
padding: 20px;
}


.avis1{
  display: block;
  width: 520px;
  height: 655px;
  align-items: center;
  padding: 10px;
  box-shadow: 1px;
  margin-left: 50px;
  margin-top: 99.5px;
  background-color: rgb(200, 211, 211);
  border-radius: 15px;
  filter: drop-shadow(5px 5px 5px rgb(235, 7, 7));
}
.avis1 img{
  width: 100px;
  border-radius: 15px;
}
.avis3{
  display: block;
  width: 520px;
  height: 615px;
  align-items: center;
  padding: 10px;
  box-shadow: 1px;
  
  margin-top: 99.5px;
  background-color: rgb(200, 211, 211);
  border-radius: 15px;
  filter: drop-shadow(5px 5px 5px rgb(196, 242, 15));
margin-left: 50px;
}
.avis3 img{
  width: 120px;
  border-radius: 15px;

}
footer{
  background-color:rgba(68, 71, 68, 0.267) ;
  padding-top: 50px;
  margin-top: 400px;
}
.container1{
  width: 1140px;
  margin: auto;
  display: flex;
  

  
}
.footer-content1{
  margin-left: 170px;
  margin-top: -40px;
}

.footer-content{
  margin-top: -150px;
}
.footer{
  width: 33.3%;
}
h3{
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
  
}
.footer-content p{
width: 190px;
margin: auto;
padding: 7px;
}
.footer-content ul{
text-align: center;
}
.list{
  padding: 0;
}

.footer-content2 img{
  width: 20px;
  margin-left: 70px;
}.list li{
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}
.list li ::before{
  content: '';
  position: absolute;
  transform: translate(-50% -50%);
  left: 50%;
}
.footer-content2 h3{
  margin-top:-12px ;
  margin-left: 100px;
}
.footer-content h3{
  margin-top: 40px;
}
.avis4 p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.avis4{
  display: block;
  width: 520px;
  
  align-items: center;
  padding: 10px;
  box-shadow: 1px 1px 10px #49e311;
  margin-top: 100px;
  border-radius: 15px;
  background-color: rgb(210, 212, 215);
  
margin-left: 25px;
  height: 580px;
  
  

  
}
.avis4 img{
width: 80px;
border-radius: 10px;
box-shadow: 1px 1px 10px #716ebe;
}


.stars::before {
  content: "\2605\2605\2605\2605\2605";
  font-size: 24px;
  color: gold;
  
}